.home {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    .articles  {
        width: 20%;
        height: auto;
        margin: 3% auto;
        @include tablet-only {
            width: 45%;
        }
        @include mobile-only {
            width: 95%;
        }
    }
}